In [1]:
import pandas as pd
x = pd.Series([6,3,8,6])
x

0    6
1    3
2    8
3    6
dtype: int64

In [17]:
x = pd.Series([6,3,8,6], index = ["q","w", "e", "r"])
y = pd.Series([7,3,5,2], index = ["e","q", "r", "r"])

print (x)
print (sorted(x.index))
print(x.reindex(sorted(x.index)))
x + y

q    6
w    3
e    8
r    6
dtype: int64
['e', 'q', 'r', 'w']
e    8
q    6
r    6
w    3
dtype: int64

e    15.0
q     9.0
r    11.0
r     8.0
w     NaN
dtype: float64

In [13]:
x[["w","r"]]

w    3
r    6
dtype: int64

In [14]:
age = {"Tim": 29, "Jim":31, "Pam":27, "Sam":35}
x= pd.Series(age)
x

Tim    29
Jim    31
Pam    27
Sam    35
dtype: int64

In [15]:
data = {"name": ["Tim", "Jim", "Pam", "Sam"],
       "age":[ 29, 31, 27,35],
       "ZIP":['02115','02130','67700','00100']}
x = pd.DataFrame(data, columns = ["name", "age", "ZIP"])
x

  name  age    ZIP
0  Tim   29  02115
1  Jim   31  02130
2  Pam   27  67700
3  Sam   35  00100